
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>Registrar</h2>
@Html.ValidationSummary(true)

<div class="row" style="margin-top:38px">

    <div class="col-sm-12">
        <div class="panel-body panel-warning">
            <div class="panel-heading">
                <h4>Nuevo contacto</h4>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("RegistrarNuevo","Contacto")" method="post">
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="ImputNombre" name="Nombre" placeholder="Juan Carlos">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="ImputApellido" name="Apellido" placeholder="Perez">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="imputTelefono" name="Telefono">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correo</label>
                        <input type="text" class="form-control" id="imputCorreo" name="Correo">
                    </div>

                    <button type="submit" onclick="Validacion()" class="btn-primary btn">Registrar</button>
                    <a href="@Url.Action("Index","Contacto")" class="btn btn-warning"><i class="fa-solid fa-arrow-rotate-left"></i>Volver</a>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    }